body {
    background: linear-gradient(109.6deg, rgb(43, 1, 91) 13.4%, rgb(122, 2, 54) 100.2%);
}
h1 {
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 5px 5px 5px rgba(27, 28, 27, 0.4);
    color: #ffffff;
}